#
#                       ThiccBot Requirements.txt | 2020-2022 (c) IsThicc
#
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#
#
jishaku
discord==1.7.3  # git+https://github.com/Rapptz/discord.py.git # Newer discord.py for reply support
aiomysql
discord-py-slash-command
#
#
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#
#